﻿@model DemoPayPal.Models.PayPalModel
<body>
    <form id="hiddenform" action="@Model.actionURL">
        @Html.HiddenFor(m=>m.cmd)
        @Html.HiddenFor(m=>m.business)
        @Html.HiddenFor(m=>m.no_shipping)
        @Html.HiddenFor(m=>m.@return)
        @Html.HiddenFor(m=>m.cancel_return)
        @Html.HiddenFor(m=>m.notify_url)
        @Html.HiddenFor(m=>m.currency_code)
        @Html.HiddenFor(m=>m.item_name)
        @Html.HiddenFor(m=>m.amount)
    </form>
</body>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function() {
        var form = $("form");
        form.submit();
    });
</script>