﻿@{
    ViewBag.Title = "Página principal";
}

@using(Html.BeginForm("RealizarCompra","PayPal"))
{
    <div>
        <table>
            <tr>
                <td>
                    Producto :
                </td>
                <td>
                    <input type="text" name="producto" value="Matícula Curso Android" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>
                    Precio :
                </td>
                <td>
                    <input type="text" name="totalPrecio" value="300" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnComprar" value="Pagar con PayPal"/>
                </td>
            </tr>
        </table>
    </div>
}
